<div class="row justify-content-center mt-4" style="color: white; margin-top: 15%">
    <div class="col-md-12 text-center mt-4">
 <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User Said</th>
      <th scope="col">Bot Said</th>
      <th scope="col">Channel</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of messages | async; let i = index">
      <th scope="row"> {{ i+1 }}</th>
      <td>{{ message.userMsg }}</td>
      <td>{{ message.botMsg }}</td>
      <td>{{ message.type }}</td>
      <td>{{ message.messageID.toDate().toLocaleString() }}</td>
    </tr>
  </tbody>
</table>
    </div>
</div>