<div #scrollMe class="container scrollbar-primary" style="height: 80vh; overflow-y: scroll;">
<div class="row mt-4" *ngFor="let message of messages" >
  <div class="col-md-6 col-sm-12 mt-3" >
    <p class="float-left bot-message" *ngIf="message.type === 'botMsg'">
      Bot: {{ message.text }}
      <br>
      <small>{{ getDate() }}</small>
    </p>
  </div>
  <div class="col-md-6 col-sm-12 mt-3">
      <p class="float-right user-message" *ngIf="message.type === 'userMsg'">
          You: {{ message.text  }}
          <br>
          <small> {{ getDate() }}</small>
      </p>

  </div>
</div>
</div>
