<div class="row mt-4">
  <div class="col-md-12 col-sm-12 mt-3" >
    <p style="color:white">
        The CASA Chatbot is a program created by students in the College of Applied Arts and Science that is 
        aimed to answer questions, clarify and validate concerns and converse with new and continuing students.  
        The Chatbot is designed to act as a campus guide and directory with an instant messaging system that also has 
        a voice option for your convenience. 
    </p>
  </div>
</div>