<app-chatmessage></app-chatmessage>
<form (ngSubmit)="onSendMessage()" #f="ngForm">
  <div class="row">    
    <div class="form-group mx-sm-3 mb-2 col-md-7 col-sm-12">
      <label for="#message" class="sr-only" style="color: white;">Enter Your Message:</label>
      <input 
             ngModel
             name="message" 
             type="text" 
             class="form-control" 
             id="message" 
             required
             autocomplete="off"
             placeholder="Unleash your thoughts :)">
    </div>
    <div class="col-md-4 col-sm-12 col-sm-auto">
      <button type="submit" class="btn btn-lg btn-primary mb-2 ml-1">Hit Me</button>
    </div>
  </div>
</form>