<div class="row mt-5">
    <div class="col-md-12 col-xs-12 col-sm-12 mt-5 d-flex justify-content-center" (click) = toggleRecording() #Silence>
      <div class="circle-text">
          <div style="font-size: 500%;">{{ silenceStatus }}</div>
      </div>
    </div>
    <p style="color:white">Click this button to start asking!!!</p>
    <br/>
    <p style="color:white">Click this again when done!!!</p>
    <audio style="display: hidden;">
        
    </audio>
 </div>